<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="ion-padding-start headline !font-bold">
      Nusabaca
    </ion-title>

    <ion-button 
      slot="end" 
      size="small" 
      shape="round" 
      mode="ios" 
      [routerLink]="['/collection-editor']" 
      color="success" 
      class="ion-margin-end"
      [ngStyle]="{
        '--padding-top': '4px',
        '--padding-bottom': '4px',
        '--padding-start': '8px',
        '--padding-end': '8px',
      }"
    >
      <ion-icon name="add-circle" slot="start" class="text-2xl mr-1"></ion-icon>
      <ion-text>Add Book</ion-text>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large" class="headline !font-bold">Nusabaca</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-collection-list></app-collection-list>
</ion-content>
