ion-item {
  --background: #fff;
  --color: #424242;

  --border-color: #fff;
  --border-width: 1px;
  --border-radius: 20px;

  --detail-icon-opacity: 1;
  --detail-icon-font-size: 20px;

  --inner-padding-end: 4px;
}