<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button> 
    </ion-buttons>
    <ion-title>Book Details</ion-title>
    <ion-buttons slot="end" class="pr-1">
      <ion-button shape="round" (click)="presentActionSheet()">
        <ion-icon name="ellipsis-vertical" slot="icon-only" class="text-2x"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Book Details</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (collection$ | async; as collection) {
    @if (collection.status == 'success') {
      <div class="ion-padding">
        <table class="table">
          <tr>
            <td class="!pr-3">Judul buku</td>
            <td class="flex gap-2">
              <span>:</span>
              <strong>{{ collection.data.title }}</strong>
            </td>
          </tr>

          <tr>
            <td class="!pr-3">Jumlah halaman</td>
            <td class="flex gap-2">
              <span>:</span>
              {{ collection.data.total_pages | number }}
            </td>
          </tr>

          <tr>
            <td class="!pr-3">Tahun terbit</td>
            <td class="flex gap-2">
              <span>:</span>
              {{ collection.data.publication_year }}
            </td>
          </tr>

          <tr>
            <td class="!pr-3">Bahasa</td>
            <td class="flex gap-2">
              <span>:</span>
              {{ getLanguageName(collection.data.language) }}
            </td>
          </tr>
        </table>

        <div class="block mt-10 text-center">
          <app-page-file-list [collection]="collection.data"></app-page-file-list>
        </div>
      </div>
    } @else if (collection.status == 'loading') {
      <div class="ion-padding">
        <p class="text-gray-700 text-lg block">Loading book details...</p>
      </div>
    }
  }
</ion-content>
