<ion-content [fullscreen]="true" color="light">
  <div class="h-screen flex flex-col items-center justify-center ion-padding">
    <div class="mt-auto">
      <h1 class="!text-6xl !font-bold !block ion-margin-bottom">Nusabaca</h1>
      <div class="block text-neutral-600 text-xl text-center w-72 mx-auto">Tidak ada kata terlambat untuk membaca, mulai segera!</div>
    </div>

    <div class="mt-auto ion-margin-bottom">
      <ion-button 
        shape="round" 
        color="dark" 
        class="flex items-center" 
        (click)="onSignInWithGoogle()"
        [ngStyle]="{
          '--padding-top': '16px',
          '--padding-bottom': '16px',
        }"
      >
        <ion-icon name="logo-google" slot="start" class="mr-2"></ion-icon>
        <ion-text>Sign in with Google</ion-text>
      </ion-button>
    </div>
  </div>
</ion-content>
