<ion-content [fullscreen]="true" color="light">
  <div class="h-screen flex flex-col items-center justify-center ion-padding">
    <div class="mt-auto">
      <div class="text-center">
        <ion-img src="assets/icon/audiobook.png" class="mx-auto w-28 h-auto"></ion-img>
      </div>
      <h1 class="!text-6xl !font-bold !block ion-margin-bottom text-center">Nusabaca</h1>
      <div class="block text-neutral-600 text-center w-88 mx-auto">
        Rubah buku fisik menjadi pengalaman digital yang menyenangkan.
        Pindai dan dengarkan di mana saja.
        Uji pemahaman dengan kuis.
      </div>
    </div>

    <div class="mt-auto ion-margin-bottom">
      <ion-button 
        shape="round" 
        color="dark" 
        class="flex items-center" 
        (click)="onSignInWithGoogle()"
        [ngStyle]="{
          '--padding-top': '16px',
          '--padding-bottom': '16px',
        }"
      >
        <ion-icon name="logo-google" slot="start" class="mr-2"></ion-icon>
        <ion-text>Sign in with Google</ion-text>
      </ion-button>
    </div>
  </div>
</ion-content>
